# Fifa World Cup 2018 - Prediction

## Brainstorming

This section is dedicated to the Exploratory Data Analysis and brainstoriming on possible faetures and problem formulation.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlalchemy
%matplotlib inline

### Dataset 1: [International football results from 1872 to 2018](https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017/data):

This data set contains the results of internation games for the past 146 years.

AG: Let's import the main data set(international games).
With this we can get some data for all the available games till now.
Especially the last 2 decades of these data can be used to extract some useful information for each team. These are the features I think we can get out of this data:

- Win to lose ratio total
- Win to lose ration general
- Mean goal scored ( **this can be used to define weather team is defensive or not** )
- Mean goal recieved ( **this can be used to define weather team is offensive or not** )

In [2]:
international_matches = pd.read_csv('international_matches.zip', compression='zip', header=0, sep=',', quotechar='"')

In [3]:
international_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38902 entries, 0 to 38901
Data columns (total 8 columns):
date          38902 non-null object
home_team     38902 non-null object
away_team     38902 non-null object
home_score    38902 non-null int64
away_score    38902 non-null int64
tournament    38902 non-null object
city          38902 non-null object
country       38902 non-null object
dtypes: int64(2), object(6)
memory usage: 1.5+ MB

 ### Initial content's dataset

In [4]:
international_matches.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland
1,1873-03-08,England,Scotland,4,2,Friendly,London,England
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland
3,1875-03-06,England,Scotland,2,2,Friendly,London,England
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland

In [4]:
all_series = {}

In [5]:
def generate_analytics_team(row):
    
    team = row.home_team
    
    victorie = row.home_score > row.away_score
    lose = row.home_score < row.away_score
    tie = row.home_score == row.away_score
    
    goals_scored = row.home_score
    goals_received = row.away_score
    
    if team not in all_series:
        serie_team = {"Team": team, "Victories": int(victorie), "Loses": int(lose), "Ties": int(tie), "Ratio(win/lose)": 0, "Goals(scored)": goals_scored, "Goals(received)": goals_received}
        all_series[team] = serie_team
    else:
        
        if victorie:
            all_series[team]['Victories'] += 1
        elif lose:
            all_series[team]['Loses'] += 1
        else:
            all_series[team]['Ties'] += 1
            
        all_series[team]['Goals(scored)'] += goals_scored
        all_series[team]['Goals(received)'] += goals_received

In [8]:
international_matches[(international_matches.home_team == 'England') | (international_matches.away_team == 'England')]

,date,home_team,away_team,home_score,away_score,tournament,city,country
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland
1,1873-03-08,England,Scotland,4,2,Friendly,London,England
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland
3,1875-03-06,England,Scotland,2,2,Friendly,London,England
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland
6,1877-03-03,England,Scotland,1,3,Friendly,London,England
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland
10,1879-01-18,England,Wales,2,1,Friendly,London,England
11,1879-04-05,England,Scotland,5,4,Friendly,London,England
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England
17,1881-03-12,England,Scotland,1,6,Friendly,London,England
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland
21,1882-03-11,Scotland,England,5,1,Friendly,Glasgow,Scotland
22,1882-03-13,Wales,England,5,3,Friendly,Wrexham,Wales
24,1883-02-03,England,Wales,5,0,Friendly,London,England
25,1883-02-24,England,Northern Ireland,7,0,Friendly,Liverpool,England
26,1883-03-10,England,Scotland,2,3,Friendly,Sheffield,England
31,1884-02-23,Northern Ireland,England,1,8,British Championship,Belfast,Ireland
32,1884-03-15,Scotland,England,1,0,British Championship,Glasgow,Scotland
33,1884-03-17,Wales,England,0,4,British Championship,Wrexham,Wales
35,1885-02-28,England,Northern Ireland,4,0,British Championship,Manchester,England
36,1885-03-14,England,Wales,1,1,British Championship,Blackburn,England
38,1885-03-21,England,Scotland,1,1,British Championship,London,England
43,1886-03-13,Northern Ireland,England,1,6,British Championship,Belfast,Ireland
45,1886-03-27,Scotland,England,1,1,British Championship,Glasgow,Scotland
46,1886-03-29,Wales,England,1,3,British Championship,Wrexham,Wales
49,1887-02-05,England,Northern Ireland,7,0,British Championship,Sheffield,England
51,1887-02-26,England,Wales,4,0,British Championship,London,England
...,...,...,...,...,...,...,...,...
36729,2015-10-09,England,Estonia,2,0,UEFA Euro qualification,London,England
36775,2015-10-12,Lithuania,England,0,3,UEFA Euro qualification,Vilnius,Lithuania
36904,2015-11-13,Spain,England,2,0,Friendly,Alicante,Spain
36939,2015-11-17,England,France,2,0,Friendly,London,England
37150,2016-03-26,Germany,England,2,3,Friendly,Berlin,Germany
37184,2016-03-29,England,Netherlands,1,2,Friendly,London,England
37239,2016-05-22,England,Turkey,2,1,Friendly,Manchester,England
37246,2016-05-27,England,Australia,2,1,Friendly,Sunderland,England
37303,2016-06-02,England,Portugal,1,0,Friendly,London,England
37403,2016-06-11,England,Russia,1,1,UEFA Euro,Marseille,France
37436,2016-06-16,England,Wales,2,1,UEFA Euro,Lens,France
37458,2016-06-20,Slovakia,England,0,0,UEFA Euro,Saint-Étienne,France
37486,2016-06-27,England,Iceland,1,2,UEFA Euro,Nice,France
37574,2016-09-04,Slovakia,England,0,1,FIFA World Cup qualification,Trnava,Slovakia
37669,2016-10-08,England,Malta,2,0,FIFA World Cup qualification,London,England
37737,2016-10-11,Slovenia,England,0,0,FIFA World Cup qualification,Ljubljana,Slovenia
37781,2016-11-11,England,Scotland,3,0,FIFA World Cup qualification,London,England
37843,2016-11-15,England,Spain,2,2,Friendly,London,England
37970,2017-03-22,Germany,England,1,0,Friendly,Dortmund,Germany
38026,2017-03-26,England,Lithuania,2,0,FIFA World Cup qualification,London,England
38185,2017-06-10,Scotland,England,2,2,FIFA World Cup qualification,Glasgow,Scotland
38219,2017-06-13,France,England,3,2,Friendly,Saint-Denis,France
38385,2017-09-01,Malta,England,0,4,FIFA World Cup qualification,Attard,Malta
38420,2017-09-04,England,Slovakia,2,1,FIFA World Cup qualification,London,England
38481,2017-10-05,England,Slovenia,1,0,FIFA World Cup qualification,London,England
38533,2017-10-08,Lithuania,England,0,1,FIFA World Cup qualification,Vilnius,Lithuania
38609,2017-11-10,England,Germany,0,0,Friendly,London,England
38675,2017-11-14,England,Brazil,0,0,Friendly,London,England
38791,2018-03-23,Netherlands,England,0,1,Friendly,Amsterdam,Netherlands
38866,2018-03-27,England,Italy,1,1,Friendly,London,England

In [6]:
for i , row in international_matches.iterrows():
    generate_analytics_team(row)

In [7]:
columns = ["Team","Victories","Loses","Ties","Ratio(win/lose)", "Goals(scored)","Goals(received)"]

infos_teams = pd.DataFrame(list(all_series.values()),columns=columns)
infos_teams.head()

,Team,Victories,Loses,Ties,Ratio(win/lose),Goals(scored),Goals(received)
0,Scotland,208,82,80,0,710,363
1,England,292,77,106,0,1087,426
2,Wales,117,118,78,0,456,444
3,Northern Ireland,103,135,67,0,392,521
4,USA,190,100,91,0,622,425

### Dataset 2: fifa 2018 schedule

> This dataset consist of all the games in the upcoming matches. What we are thinking of getting from this data is the name of the participating teams. Moreover, eventually we use them to predict all of the games and the champion.

In [29]:
fifa2018 = pd.read_csv('fifa2018.csv')

In [30]:
counteris2018 = fifa2018['Home Team'].unique()[:32]

In [31]:
counteris2018

array(['Russia', 'Egypt', 'Morocco', 'Portugal', 'France', 'Argentina',
       'Peru', 'Croatia', 'Costa Rica', 'Germany', 'Brazil', 'Sweden',
       'Belgium', 'Tunisia', 'Colombia', 'Poland', 'Uruguay', 'Iran',
       'Denmark', 'Nigeria', 'Serbia', 'Korea Republic', 'England',
       'Japan', 'Saudi Arabia', 'Spain', 'Australia', 'Iceland', 'Mexico',
       'Switzerland', 'Senegal', 'Panama'], dtype=object)

### Dataset 3: [European Soccer Database](https://www.kaggle.com/hugomathien/soccer/data):

(can anybody add some explanation here?)
!!! You need to extract the players.sqlite.zip to the same folder !!!

In [46]:
import sqlite3
uri_database = "sqlite:///database.sqlite"

In [47]:
players = pd.read_sql_table("Player",uri_database)
players_attributes = pd.read_sql_table("Player_Attributes",uri_database)
team_attributes = pd.read_sql_table("Team_Attributes", uri_database)

In [50]:
print("Players DF: ", players.shape)
print("Players attributes DF: ", players_attributes.shape)
print("Team attributes DF: ", team_attributes.shape)

Players DF:  (11060, 7)
Players attributes DF:  (183978, 42)
Team attributes DF:  (1458, 25)

## EDA
Can someone do some EDA?