# Fifa World Cup 2018 - Prediction

## Brainstorming

This section is dedicated to the Exploratory Data Analysis and brainstoriming on possible faetures and problem formulation.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlalchemy
%matplotlib inline

### Dataset 1: [International football results from 1872 to 2018](https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017/data):

This data set contains the results of internation games for the past 146 years.

AG: Let's import the main data set(international games).
With this we can get some data for all the available games till now.
Especially the last 2 decades of these data can be used to extract some useful information for each team. These are the features I think we can get out of this data:

- Win to lose ratio total
- Win to lose ration general
- Mean goal scored ( **this can be used to define weather team is defensive or not** )
- Mean goal recieved ( **this can be used to define weather team is offensive or not** )

In [2]:
international_matches = pd.read_csv('international_matches.zip', compression='zip', header=0, sep=',', quotechar='"')

In [3]:
international_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38902 entries, 0 to 38901
Data columns (total 8 columns):
date          38902 non-null object
home_team     38902 non-null object
away_team     38902 non-null object
home_score    38902 non-null int64
away_score    38902 non-null int64
tournament    38902 non-null object
city          38902 non-null object
country       38902 non-null object
dtypes: int64(2), object(6)
memory usage: 1.5+ MB

 ### Initial content's dataset

In [4]:
international_matches.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland
1,1873-03-08,England,Scotland,4,2,Friendly,London,England
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland
3,1875-03-06,England,Scotland,2,2,Friendly,London,England
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland

In [145]:
def generate_analytics_team(row):
    
    team = row.home_team
    
    victorie = row.home_score > row.away_score
    lose = row.home_score < row.away_score
    tie = row.home_score == row.away_score
    
    goals_scored = row.home_score
    goals_received = row.away_score
    
    if team not in all_series:
        serie_team = {"Team": team, "Victories": int(victorie), "Loses": int(lose), "Ties": int(tie), "Ratio(win/lose)": 0, "Goals(scored)": goals_scored, "Goals(received)": goals_received}
        all_series[team] = serie_team
    else:
        
        if victorie:
            all_series[team]['Victories'] += 1
        elif lose:
            all_series[team]['Loses'] += 1
        else:
            all_series[team]['Ties'] += 1
            
        all_series[team]['Goals(scored)'] += goals_scored
        all_series[team]['Goals(received)'] += goals_received

In [108]:
for i , row in international_matches.iterrows():
    generate_analytics_team(row)

In [144]:
infos_teams = pd.DataFrame(list(all_series.values()))
infos_teams

,Goals(received),Goals(scored),Loses,Ratio(win/lose),Team,Ties,Victories
0,363,712,82,0,Scotland,81,209
1,428,1091,77,0,England,106,293
2,444,456,118,0,Wales,78,117
3,521,392,135,0,Northern Ireland,67,103
4,425,622,100,0,USA,91,190
5,314,589,59,0,Uruguay,92,181
6,543,807,125,0,Austria,79,204
7,540,1048,96,0,Hungary,99,250
8,463,1174,63,0,Argentina,115,352
9,540,776,114,0,Belgium,78,201
10,509,920,105,0,France,93,262
11,424,936,81,0,Netherlands,97,226
12,281,550,40,0,Czechoslovakia,53,137
13,567,663,137,0,Switzerland,88,170
14,547,1117,97,0,Sweden,100,276
15,505,1199,80,0,Germany,103,306
16,347,861,50,0,Italy,113,270
17,459,713,107,0,Chile,73,204
18,545,632,135,0,Norway,96,157
19,635,467,155,0,Finland,67,99
20,526,141,161,0,Luxembourg,31,22
21,243,572,46,0,Russia,64,175
22,488,839,103,0,Denmark,80,210
23,461,1342,56,0,Brazil,102,388
24,392,648,87,0,Japan,85,180
25,270,399,61,0,Paraguay,67,125
26,201,196,61,0,Canada,36,68
27,325,258,96,0,Estonia,54,72
28,250,619,48,0,Costa Rica,76,173
29,266,368,67,0,Guatemala,58,101
...,...,...,...,...,...,...,...
211,78,225,19,0,Uzbekistan,26,64
212,54,108,14,0,Turkmenistan,11,28
213,143,103,42,0,Armenia,24,28
214,112,298,29,0,Czech Republic,16,91
215,11,13,4,0,Guernsey,3,3
216,138,137,48,0,Macedonia,24,39
217,9,21,0,0,Jersey,3,8
218,43,15,7,0,Montserrat,1,2
219,76,169,16,0,Serbia,26,52
220,113,161,28,0,Bosnia-Herzegovina,25,43
221,128,139,29,0,Maldives,15,29
222,165,24,62,0,Andorra,6,5
223,78,48,19,0,British Virgin Islands,7,10
224,84,12,15,0,Virgin Islands,2,2
225,30,18,10,0,Eritrea,10,7
226,28,16,6,0,Bahamas,2,4
227,18,7,1,0,Micronesia FS,0,1
228,88,27,20,0,Bhutan,3,5
229,22,4,5,0,Turks and Caicos Islands,0,1
230,2,6,0,0,Monaco,1,3
231,62,19,13,0,Gibraltar,3,5
232,30,15,5,0,Tuvalu,1,4
233,15,15,3,0,Mayotte,2,1
234,59,21,14,0,East Timor,2,4
235,30,23,7,0,Kosovo,2,6
236,40,11,8,0,Northern Mariana Islands,1,1
237,20,9,9,0,Comoros,8,2
238,17,5,3,0,Bonaire,1,0
239,21,15,7,0,South Sudan,5,4
240,16,1,1,0,St Pierre & Miquelon,0,0

### Dataset 2: fifa 2018 schedule

> This dataset consist of all the games in the upcoming matches. What we are thinking of getting from this data is the name of the participating teams. Moreover, eventually we use them to predict all of the games and the champion.

In [29]:
fifa2018 = pd.read_csv('fifa2018.csv')

In [30]:
counteris2018 = fifa2018['Home Team'].unique()[:32]

In [31]:
counteris2018

array(['Russia', 'Egypt', 'Morocco', 'Portugal', 'France', 'Argentina',
       'Peru', 'Croatia', 'Costa Rica', 'Germany', 'Brazil', 'Sweden',
       'Belgium', 'Tunisia', 'Colombia', 'Poland', 'Uruguay', 'Iran',
       'Denmark', 'Nigeria', 'Serbia', 'Korea Republic', 'England',
       'Japan', 'Saudi Arabia', 'Spain', 'Australia', 'Iceland', 'Mexico',
       'Switzerland', 'Senegal', 'Panama'], dtype=object)

### Dataset3: [Euorpian Socer Data Base](https://www.kaggle.com/hugomathien/soccer/data):

(can anybody add some explanation here?)
!!! You need to extract the players.sqlite.zip to the same folder !!!

In [61]:
from sqlalchemy import create_engine
from sqlalchemy import inspect
from sqlalchemy import MetaData
from sqlalchemy import Table

In [50]:
player_database = "sqlite:///database.sqlite"
engine = create_engine(player_database)
conn = engine.connect()

In [79]:
player_tables_names = (engine.table_names())[:-1]
player_tables_names

['Country',
 'League',
 'Match',
 'Player',
 'Player_Attributes',
 'Team',
 'Team_Attributes']

In [80]:
player_dfs = []

for table in player_tables_names:
    df= pd.read_sql("SELECT * FROM "+table, conn)
    player_dfs.append(df)
    print(table+" data set has the following shape:\n{}".format(df.shape))

Country data set has the following shape:
(11, 2)
League data set has the following shape:
(11, 3)
Match data set has the following shape:
(25979, 115)
Player data set has the following shape:
(11060, 7)
Player_Attributes data set has the following shape:
(183978, 42)
Team data set has the following shape:
(299, 5)
Team_Attributes data set has the following shape:
(1458, 25)

## EDA
Can someone do some EDA?